@font-face {
    font-family: 'IRANSans';
    src: local('IRANSans'), url("fonts/IRANSans(FaNum).ttf") format("truetype");
}

body {
    background-color: #F8FAFB;
    font-family: IRANSans, serif !important;
}

.ant-card-bordered {
    border: unset;
}

.login-card {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px 0 40px 55px;
    direction: rtl;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
    font-size: 11px;
    min-width: 768px;
    height: fit-content;
}

.login-card .ant-card-body {
    padding: 0;
}

.login-card .ant-col:first-child img {
    width: 110%;
}

.login-card .ant-col:last-child {
    right: 15px;
}

.login-card h1 {
    padding-right: 50px;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
}

.login-card .ant-form {
    padding: 0 35px;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.login-card .ant-input-affix-wrapper {
    height: 35px;
}

.login-card .ant-form-item {
    margin-bottom: 15px;
}

.login-card .ant-input-affix-wrapper,
.login-card .ant-input-affix-wrapper input {
    background-color: #F8FAFB;
    /*border-color: transparent;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*padding: 0 15px;*/
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*-webkit-box-shadow: 0 0 0 30px white inset !important;*/
    background-color: #F8FAFB;
}

/*.login-card .ant-input-prefix {*/
/*    display: none;*/
/*}*/

/*.login-card .bi,*/
/*.recover-pass-card .bi {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: 25%;*/
/*    right: 2%;*/
/*    font-size: 16px;*/
/*}*/

.login-card .ant-checkbox-inner {
    border: unset;
    background-color: #F8FAFB;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 17px;
}

.login-card .ant-checkbox-inner::after {
    position: relative;
    top: 7px;
    left: 4px;
    width: 5px;
    height: 11px;
}

.login-card .ant-checkbox-checked::after {
    display: none;
}

.login-card .ant-checkbox-checked .ant-checkbox-inner::after {
    border: 1px solid #fff;
    border-top: 0;
    border-left: 0;
}

.login-card .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0081FF;
}

.login-card .ant-checkbox + span {
    position: relative;
    bottom: 2px;
    font-size: 12px;
}

.login-card .login-form-forgot {
    float: left;
    font-size: 12px;
}

.login-card .ant-btn-primary {
    color: #FFFFFF;
    background-color: #007BFF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.ant-input-prefix {
    margin-right: 0;
    margin-left: 5px;
}

.login-card .ant-btn-primary:hover,
.login-card .ant-btn-primary:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
    background-color: #007BFF;
    border: none;
}

.login-card button,
.recover-pass-card button {
    width: 100%;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: #F8FAFB;
}

.login-card .ant-form-item-explain, .ant-form-item-extra,
.recover-pass-card .ant-form-item-explain, .ant-form-item-extra {
    font-size: 11px;
    margin-top: 3px;
}

.recover-pass-card {
    width: 350px;
    position: absolute;
    height: 53%;
    font-size: 11px;
    top: 45%;
    left: 35%;
    transform: translate(0%, -45%);
    -webkit-transform: translate(0%, -45%);
    -moz-transform: translate(0%, -45%);
    -o-transform: translate(0%, -45%);
    border: none;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    direction: rtl;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.recover-pass-card .ant-card-body {
    padding: 0;
}

.recover-pass-card .ant-card-body > .ant-row:first-child {
    display: grid;
    border-bottom: 2px solid #ECEDF0;
    margin: 20px 0;
}

.recover-pass-card img {
    width: 100px;
    margin: 15px auto;
}

.recover-pass-card h1 {
    margin: 0 auto 15px auto;
    font-size: 25px;
    font-weight: bold;
}

.recover-pass-card form {
    width: 100%;
    padding: 0 40px;
}

.recover-pass-card form .ant-input {
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #F8FAFB;
    height: 35px;
    padding: 0 25px 0 0;
}

.recover-pass-card .ant-form-item {
    margin-bottom: 10px;
}

.recover-pass-card .ant-form-item:last-child {
    margin-bottom: 0;
}

.recover-pass-card a {
    font-size: 12px;
    position: relative;
    top: -3px;
    margin: 0 auto;
    display: table;
}

.ant-form-item-control-input .ant-form-item-children-icon {
    right: auto !important;
    left: 0;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout.ant-layout-has-sider {
    position: absolute;
    width: 100%;
    height: 100%;
    direction: rtl;
}

.site-layout,
.site-layout .site-layout-background {
    background-color: #F8FAFB;
}

.ant-layout-sider {
    padding-top: 60px;
    border-left: 1px solid #eaedf0;
    direction: ltr;
    overflow-x: hidden;
}

.ant-layout-sider ul {
    text-align: right;
    direction: ltr;
    color: #8697A8;
    border: none;
}

.ant-layout-sider .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    position: relative;
    right: 60px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #F8FAFB;
    color: #44566C;
}

.ant-layout-sider .ant-menu-inline .ant-menu-item::after {
    border-right: 5px solid #0081FF;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

.ant-layout-sider .ant-menu-inline .ant-menu-item,
.ant-layout-sider .ant-menu-submenu-title {
    font-weight: bold;
    padding-right: 20px;
    direction: rtl;
}

.ant-layout-sider li:hover,
.ant-layout-sider .ant-menu-submenu-title:hover {
    background-color: #F8FAFB;
    color: #44566C !important;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: linear-gradient(to right, #44566C, #44566C);
}

.ant-layout-sider .bi {
    font-size: 19px;
    position: relative;
    top: 4px;
    margin-left: 10px;
}

.ant-layout-sider-collapsed .bi {
    top: 7px;
}

.ant-layout-sider-collapsed .bi-check-square {
    top: 5px;
}

.ant-layout-sider .ant-menu-inline-collapsed > .ant-menu-item .anticon {
    position: relative;
    right: 5px;
}

.ant-menu-inline-collapsed > .ant-menu-item {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 0 11px;
}

.ant-layout-sider-collapsed .ant-menu-submenu {
    margin: 4px 15px 8px 15px;
    border-radius: 10px;

}

.ant-layout-sider-collapsed .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 15px;
    margin: 0;
    border-radius: 10px;

}

.ant-layout-sider .ant-menu-sub > li {
    padding-right: 70px !important;
}

.ant-menu-submenu-selected {
    color: #8697A8;
}

.ant-menu-vertical .ant-menu-submenu-selected {
    color: #44566C;
    background-color: #F8FAFB;
}

.ant-menu-item-active:hover {
    color: #44566C;
    background-color: #F8FAFB;
}

.ant-menu-item-only-child,
.ant-menu-item {
    color: #8697A8;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #44566C;
}

.ant-layout-header {
    background-color: #fff !important;
    border-bottom: 1px solid #eaedf0;
}

.ant-layout-header .trigger {
    margin: 20px 15px;
}

.ant-layout-header .bi-filter-right {
    font-size: 25px;
}

.ant-layout-header .ant-input-search {
    width: 200px;
    direction: ltr;
    margin-top: 15px;
}

.ant-layout-header .ant-btn-primary {
    background-color: #F8FAFB;
    box-shadow: none;
    border: none;
    color: #44566C;
}

.ant-menu-vertical > .ant-menu-item {
    height: 45px;
}

.ant-layout-header .ant-input-group .ant-input {
    border: none;
    background-color: #F8FAFB;
    font-size: 12px;
    direction: rtl;
    height: 32px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.ant-layout-header .ant-input-group .ant-btn {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 6px;
}

.ant-layout-header .ant-input-group .ant-btn:after {
    display: none;
}

.ant-layout-header .ant-input-search-enter-button input + .ant-input-group-addon {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.ant-input:focus, .ant-input-focused {
    box-shadow: none;
}

.ant-layout-header .ant-col:last-child {
    direction: ltr;
    padding-left: 30px;
}

.bell {
    margin-left: 35px;
}

.bell:after {
    content: '';
    border: 1px solid #eaedf0;
    height: 50px;
    position: absolute;
    bottom: -7px;
    left: -13px;
    z-index: 1000000;
}

.ant-layout-header .ant-col:last-child button:first-child {
    padding: 0;
    border: none;
    box-shadow: none;
    margin-right: 5px;
    direction: rtl;
    min-width: 100px;
    color: #8697A8;
}

.ant-layout-header .ant-col:last-child button:not(:first-child) {
    padding: 0 15px;
    border: 0;
    box-shadow: none;
    position: relative;
    top: 5px;
    margin-right: 10px;
    width: 50px;
}

.ant-layout-header .ant-col:last-child button:not(:first-child) svg {
    font-size: 20px;
    color: #8697A8;
}

.ant-layout-header .ant-col:last-child button:hover {
    color: #44566C;
}

.ant-layout-header .ant-avatar {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: #F8FAFB;
    color: #44566C80;
}

.ant-layout-header .ant-col:last-child > button:first-child .anticon {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

a.ant-typography, .ant-typography a {
    color: #8697A8;
}

a.ant-typography:hover, .ant-typography a:hover {
    color: #44566C;
}

.ant-avatar.ant-avatar-icon > .anticon {
    font-size: x-large;
    position: relative;
    top: 3px;
}

.ant-popover-content {
    text-align: right;
}

[ant-click-animating-without-extra-node='true']::after, .ant-click-animating-node {
    display: none;
}

.ant-layout-header .ant-badge-status-dot {
    top: -10px;
    left: -12px;
    width: 8px;
    height: 8px;
    background-color: #FF3D57;
}

.ant-layout-header .ant-badge-status-processing::after {
    background-color: #FF3D57;
    width: 10px;
    height: 10px;
    left: -1px;
    top: -1px;
    border: 0;
}

.bell .ant-badge {
    position: relative;
    margin: 0 !important;
    left: 3px;
    top: -2px;
}

.ant-layout-sider .ant-menu-inline .ant-menu-item, .ant-layout-sider .ant-menu-submenu-title {
    height: 45px;
    padding-top: 3px;
}