@font-face {
    font-family: 'IRANSans';
    src: local('IRANSans'), url("fonts/IRANSans(FaNum).ttf") format("truetype");
}

body {
    background-color: #F8FAFB;
    font-family: IRANSans, serif !important;
}

.ant-card-bordered {
    border: unset;
}

.login-card {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px 0 40px 55px;
    direction: rtl;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
    font-size: 11px;
    min-width: 768px;
    height: fit-content;
}

.login-card .ant-card-body {
    padding: 0;
}

.login-card .ant-col:first-child img {
    width: 110%;
}

.login-card .ant-col:last-child {
    right: 15px;
}

.login-card h1 {
    padding-right: 50px;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
}

.login-card .ant-form {
    padding: 0 35px;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.login-card .ant-input-affix-wrapper {
    height: 35px;
}

.login-card .ant-form-item {
    margin-bottom: 15px;
}

.login-card .ant-input-affix-wrapper,
.login-card .ant-input-affix-wrapper input {
    background-color: #F8FAFB;
    /*border-color: transparent;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*padding: 0 15px;*/
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*-webkit-box-shadow: 0 0 0 30px white inset !important;*/
    background-color: #F8FAFB;
}

/*.login-card .ant-input-prefix {*/
/*    display: none;*/
/*}*/

/*.login-card .bi,*/
/*.recover-pass-card .bi {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: 25%;*/
/*    right: 2%;*/
/*    font-size: 16px;*/
/*}*/

.ant-checkbox-inner {
    border: unset;
    background-color: #F8FAFB;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 17px;
    height: 17px;
}

.ant-checkbox-inner::after {
    position: relative;
    top: 7px;
    left: 4px;
    width: 5px;
    height: 11px;
}

.ant-checkbox-checked::after {
    display: none;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    border: 1px solid #fff;
    border-top: 0;
    border-left: 0;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0081FF;
}

.ant-checkbox + span {
    position: relative;
    bottom: 2px;
    font-size: 12px;
}

.login-card .login-form-forgot {
    float: left;
    font-size: 12px;
}

.ant-btn-primary {
    color: #FFFFFF;
    background-color: #007BFF;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
    border: none;
}

.ant-input-prefix {
    margin-right: 0;
    margin-left: 5px;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
    background-color: #007BFF;
    border: none;
}

.login-card button,
.recover-pass-card button {
    width: 100%;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: #F8FAFB;
}

.login-card .ant-form-item-explain, .ant-form-item-extra,
.recover-pass-card .ant-form-item-explain, .ant-form-item-extra {
    font-size: 11px;
    margin-top: 3px;
}

.recover-pass-card {
    width: 350px;
    position: absolute;
    height: 53%;
    font-size: 11px;
    top: 45%;
    left: 35%;
    transform: translate(0%, -45%);
    -webkit-transform: translate(0%, -45%);
    -moz-transform: translate(0%, -45%);
    -o-transform: translate(0%, -45%);
    border: none;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    direction: rtl;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.recover-pass-card .ant-card-body {
    padding: 0;
}

.recover-pass-card .ant-card-body > .ant-row:first-child {
    display: grid;
    border-bottom: 2px solid #ECEDF0;
    margin: 20px 0;
}

.recover-pass-card img {
    width: 100px;
    margin: 15px auto;
}

.recover-pass-card h1 {
    margin: 0 auto 15px auto;
    font-size: 25px;
    font-weight: bold;
}

.recover-pass-card form {
    width: 100%;
    padding: 0 40px;
}

.recover-pass-card form .ant-input {
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #F8FAFB;
    height: 35px;
    padding: 0 25px 0 0;
}

.recover-pass-card .ant-form-item {
    margin-bottom: 10px;
}

.recover-pass-card .ant-form-item:last-child {
    margin-bottom: 0;
}

.recover-pass-card a {
    font-size: 12px;
    position: relative;
    top: -3px;
    margin: 0 auto;
    display: table;
}

.ant-form-item-control-input .ant-form-item-children-icon {
    right: auto !important;
    left: 0;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout.ant-layout-has-sider {
    position: absolute;
    width: 100%;
    height: 100%;
    direction: rtl;
}

.site-layout,
.site-layout .site-layout-background {
    background-color: #F8FAFB;
}

.ant-layout-sider {
    padding-top: 60px;
    border-left: 1px solid #eaedf0;
    direction: ltr;
    overflow-x: hidden;
}

.ant-layout-sider ul {
    text-align: right;
    direction: ltr;
    color: #8697A8;
    border: none;
}

.ant-layout-sider .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    position: relative;
    right: 60px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #F8FAFB;
    color: #343A40;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 5px solid #0081FF;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

.ant-layout-sider .ant-menu-inline .ant-menu-item,
.ant-layout-sider .ant-menu-submenu-title {
    font-weight: bold;
    padding-right: 20px;
    direction: rtl;
}

.ant-layout-sider li:hover,
.ant-layout-sider .ant-menu-submenu-title:hover {
    background-color: #F8FAFB;
    color: #343A40 !important;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: linear-gradient(to right, #343A40, #343A40);
}

.ant-layout-sider .bi {
    font-size: 19px;
    position: relative;
    top: 4px;
    margin-left: 10px;
}

.ant-layout-sider-collapsed .bi {
    top: 7px;
}

.ant-layout-sider-collapsed .bi-check-square {
    top: 5px;
}

.ant-layout-sider .ant-menu-inline-collapsed > .ant-menu-item .anticon {
    position: relative;
    right: 5px;
}

.ant-menu-inline-collapsed > .ant-menu-item {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 0 11px;
}

.ant-layout-sider-collapsed .ant-menu-submenu {
    margin: 4px 15px 8px 15px;
    border-radius: 10px;

}

.ant-layout-sider-collapsed .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 15px;
    margin: 0;
    border-radius: 10px;

}

.ant-layout-sider .ant-menu-sub > li {
    padding-right: 70px !important;
}

.ant-menu-submenu-selected {
    color: #8697A8;
}

.ant-menu-vertical .ant-menu-submenu-selected {
    color: #343A40;
    background-color: #F8FAFB;
}

.ant-menu-item-active:hover {
    color: #343A40;
    background-color: #F8FAFB;
}

.ant-menu-item-only-child,
.ant-menu-item {
    color: #8697A8;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #343A40;
}

.ant-layout-header {
    background-color: #fff !important;
    border-bottom: 1px solid #eaedf0;
}

.ant-layout-header .trigger {
    margin: 20px 15px;
}

.ant-layout-header .bi-filter-right {
    font-size: 25px;
}

.ant-layout-header .ant-input-search,
.all-questions-header .ant-input-search {
    width: 200px;
    direction: ltr;
    margin-top: 15px;
}

.ant-layout-header .ant-btn-primary,
.all-questions-header .ant-btn-primary {
    background-color: #F8FAFB;
    box-shadow: none;
    border: none;
    color: #343A40;
}

.ant-menu-vertical > .ant-menu-item {
    height: 45px;
}

.ant-layout-header .ant-input-group .ant-input,
.all-questions-header .ant-input-group .ant-input {
    border: none;
    background-color: #F8FAFB;
    font-size: 12px;
    direction: rtl;
    height: 32px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.ant-layout-header .ant-input-group .ant-btn,
.all-questions-header .ant-input-group .ant-btn {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 6px;
}

.ant-layout-header .ant-input-group .ant-btn:after,
.all-questions-header .ant-input-group .ant-btn:after {
    display: none;
}

.ant-layout-header .ant-input-search-enter-button input + .ant-input-group-addon,
.all-questions-header .ant-input-search-enter-button input + .ant-input-group-addon {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.ant-input:focus, .ant-input-focused {
    box-shadow: none;
}

.ant-layout-header .ant-col:last-child {
    direction: ltr;
    position: relative;
    left: 30px;
}

.bell {
    margin-left: 35px;
}

.bell:after {
    content: '';
    border: 1px solid #eaedf0;
    height: 50px;
    position: absolute;
    bottom: -7px;
    left: -13px;
}

.no-event {
    visibility: hidden;
}

.ant-layout-header .ant-col:last-child button:first-child {
    padding: 0;
    border: none;
    box-shadow: none;
    margin-right: 5px;
    direction: rtl;
    min-width: 100px;
    color: #8697A8;
}

.ant-layout-header .ant-col:last-child button:not(:first-child) {
    padding: 0 15px;
    border: 0;
    box-shadow: none;
    position: relative;
    top: 5px;
    margin-right: 10px;
    width: 50px;
}

.ant-layout-header .ant-col:last-child button:not(:first-child) svg {
    font-size: 20px;
    color: #8697A8;
}

.ant-layout-header .ant-col:last-child button:hover {
    color: #343A40;
}

.ant-layout-header .ant-avatar {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: #F8FAFB;
    color: #343A4080;
}

.ant-layout-header .ant-col:last-child > button:first-child .anticon {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

a.ant-typography, .ant-typography a {
    color: #8697A8;
}

a.ant-typography:hover, .ant-typography a:hover {
    color: #343A40;
}

.ant-avatar.ant-avatar-icon > .anticon {
    font-size: x-large;
    position: relative;
    top: 3px;
}

.ant-popover-content {
    text-align: right;
}

[ant-click-animating-without-extra-node='true']::after, .ant-click-animating-node {
    display: none;
}

.ant-layout-header .ant-badge-status-dot {
    top: -10px;
    left: -12px;
    width: 8px;
    height: 8px;
    background-color: #FF3D57;
}

.ant-layout-header .ant-badge-status-processing::after {
    background-color: #FF3D57;
    width: 10px;
    height: 10px;
    left: -1px;
    top: -1px;
    border: 0;
}

.bell .ant-badge {
    position: relative;
    margin: 0 !important;
    left: 3px;
    top: -2px;
}

.ant-layout-sider .ant-menu-inline .ant-menu-item, .ant-layout-sider .ant-menu-submenu-title {
    height: 45px;
    padding-top: 3px;
}

.ant-menu-item a {
    color: #8697A8;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover, .ant-menu-item a:hover {
    color: #343A40;
}

.exam-page-row {
    height: 100%;
}

.exam-page-row > .ant-col:first-child {
    width: 200px;
    background-color: white;
    border-left: 1px solid #eaedf0;
}

.exam-page-row .ant-col:first-child ul {
    height: 100%;
    position: relative;
    text-align: right;
    direction: ltr;
    margin-top: 20px;
}

.go-to-add-question-btn button {
    padding: 0 5px 5px 5px;
    direction: rtl;
    height: 38px;
    width: 130px;
    margin-right: 32px;
    box-shadow: none;
    margin-top: 20px;
}

.go-to-add-question-btn button svg {
    font-size: 19px;
    position: relative;
    top: 4px;
    left: 5px;
}

.exam-menu li svg {
    font-size: 18px;
    position: relative;
    top: 4px;
    margin-left: 15px;
}

.exam-menu .ant-menu-item {
    direction: rtl;
    height: 45px;
    padding-top: 2px;
    padding-right: 10px;
}

.exam-menu .ant-menu-item:nth-child(4) {
    background-color: unset !important;
    cursor: unset;
    color: #343A40;
}

.exam-menu .ant-menu-item:nth-child(4):after {
    display: none;
}

.exam-menu .ant-menu-item:last-child {
    padding-right: 20px;
}

.exam-page-row > .ant-col:last-child {
    width: calc(100% - 200px);
    padding: 35px 15px 25px 15px;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    direction: ltr;
    position: relative;
    right: -1px;
}

.pages-heading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.exam-page-row .ant-col:last-child > .ant-row:first-child {
    display: block;
    direction: rtl;
}

 .path > a {
    color: #8697A8;
    margin-left: 5px;
    position: relative;
    bottom: 3px;
}

.path > a:last-child {
    color: #343A40;
}

.path span[role='img'] {
    margin-left: 5px;
    color: #8697A8;
}

.all-questions-header {
    margin-top: 20px;
}

.all-questions-header > span {
    position: relative;
    top: 4px;
    color: #343A40;
    margin-left: 10px;
}

.all-questions-header .ant-select {
    margin-left: 10px;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.all-questions-header .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    direction: rtl;
}

.all-questions-header .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 0;
}

.all-questions-header .ant-select-arrow {
    left: 15px;
    top: 50%;
    right: unset;
}

.ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    box-shadow: none;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option:hover {
    background-color: #F8FAFB;
}

.all-questions-header .ant-input-search {
    margin-top: 0;
    position: relative;
    top: 0;
    margin-right: auto;
    width: 25%;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.all-questions-header .ant-input-group .ant-input,
.all-questions-header .ant-btn-primary {
    background-color: #fff;
}

.question-card-row {
    direction: rtl;
    width: 100%;
}

.question-card-row > .ant-card {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.question-content {
    display: flex;
}

.question-content p {
    direction: rtl;
    float: right;
    margin-block-end: auto;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    width: calc(100% - 40px);
    white-space: pre-line;
    overflow: unset;
    font-family: IRANSans, serif;
    line-height: 2rem;
    position: relative;
    top: -7px;
    transition: .7s;
}

.question-content .ant-checkbox-wrapper {
    margin-left: 10px;
}

.question-card-row > .ant-card > .ant-card-body {
    min-height: 170px;
    padding: 45px 12px 50px 100px;
    background-color: transparent;
}

.inline-choices {
    direction: rtl;
    display: flex;
    width: 70%;
    float: right;
    position: relative;
    right: 5%;
    margin-top: 15px;
    font-size: 14px;
}

.inline-choices span:first-child {
    margin-left: auto;
}

.inline-choices span:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.inline-choices span:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}

.inline-choices span:last-child {
    margin-right: auto;
}

.choice-amount {
    margin-right: 5px !important;
}

.correct-choice {
    color: #0081FF;
}

.correct-choice:after {
    border: 1px solid #0081FF;
    border-top: 0;
    border-left: 0;
    position: relative;
    display: table;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    content: ' ';
    top: -13px;
    left: 10px;
    width: 6px;
    height: 15px;
}

.questions .path {
    position: absolute;
    top: 10px;
    color: #8697A8 !important;
    width: 100%;
}

.questions .path span:not([role='img']) {
    font-size: 12px;
    position: relative;
    bottom: 2px;
}

.questions .path .ant-col:last-child {
    margin-right: auto;
    margin-left: 20px;
}

.questions .path .ant-col:last-child > span {
    margin-right: 10px;
}

.questions .path .ant-col:last-child > span:nth-child(2) {
    margin-right: 20px;
}

.questions .path .ant-col:last-child > span:not(:first-child) svg {
    font-size: 17px;
}

.question-level {
    bottom: 5px !important;
}

.question-level:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-table;
    content: "";
    position: absolute;
    right: -85%;
    top: 30%;
}

.question-level.simple:after {
    background-color: #0ACF83;
}

.question-level.hard:after {
    background-color: #FF3D57;
}

.question-level.middle:after {
    background-color: #FFC107;
}

.question-img {
    width: 75px;
    height: 100px;
    position: absolute;
    background-color: #F8FAFB;
    padding: 10px;
    border-radius: 10px;
    left: 0;
    margin-left: 10px;
    z-index: 1000;
}

.question-img img {
    width: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-content > span:last-child {
    position: absolute;
    margin-right: 20px;
    font-size: 13px;
    color: #0081FF;
}

.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
    overflow: hidden;
}

/*custom scrollbar*/
.exam-page-row > .ant-col:last-child::-webkit-scrollbar,
.edit-page::-webkit-scrollbar,
.manage-exam::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}

.exam-page-row > .ant-col:last-child::-webkit-scrollbar-track,
.edit-page::-webkit-scrollbar-track,
.manage-exam::-webkit-scrollbar-track {
    border-radius: 3px;
}

.exam-page-row > .ant-col:last-child::-webkit-scrollbar-thumb,
.edit-page::-webkit-scrollbar-thumb,
.manage-exam::-webkit-scrollbar-thumb {
    background: transparent;
}

.exam-page-row > .ant-col:last-child:hover::-webkit-scrollbar-thumb,
.edit-page:hover::-webkit-scrollbar-thumb,
.manage-exam:hover::-webkit-scrollbar-thumb {
    background: #0081FF;
    border-radius: 3px;
}

.questions {
    margin-top: 45px;
}

.ant-collapse-borderless {
    position: relative;
    bottom: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
}

.ant-collapse-borderless > .ant-collapse-item:last-child {
    border-bottom: none;
}

.ant-collapse-header {
    width: 150px;
}

.ant-collapse-borderless p {
    width: 100%;
    padding: 0 30px;
    position: relative;
    top: -25px;
}

.questions .path .ant-col:last-child > span:nth-child(2) button {
    background-color: white;
    box-shadow: none;
    border: none;
    padding: 0;
}

.ant-pagination.mini {
    background-color: white;
    height: 30px;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.ant-pagination.mini > li:first-child {
    position: absolute;
    right: 0;
}

.ant-pagination.mini li {
    font-family: IRANSans;
}

.ant-pagination.mini .ant-pagination-item {
    padding-top: 2px;
}

.ant-pagination-item-active {
    border: none;
    background-color: #0081FF;
    box-shadow: 0 0 4px 0 #007BFF90;
}

.ant-pagination-item-active a {
    color: white !important;
}

.ant-pagination.mini .ant-pagination-prev {
    margin-right: 10px;
    border-right: 1px solid #eaedf0;
    border-radius: 0;
    min-width: 30px;
    height: 30px;
}

.ant-pagination.mini .ant-pagination-next {
    margin-left: 10px;
    border-left: 1px solid #eaedf0;
    border-radius: 0;
    min-width: 30px;
    height: 30px;
}

.ant-pagination.mini .ant-pagination-next:hover,
.ant-pagination.mini .ant-pagination-prev:hover {
    background-color: #0081FF;
}

.ant-pagination.mini .ant-pagination-next:hover {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 4px 0 #007BFF90;
    border: none;
}

.ant-pagination.mini .ant-pagination-prev:hover {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 0 4px 0 #007BFF90;
    border: none;
}

.ant-pagination.mini .ant-pagination-next:hover a,
.ant-pagination.mini .ant-pagination-prev:hover a {
    color: white;
}

.ant-pagination.mini .ant-pagination-next:focus a,
.ant-pagination.mini .ant-pagination-prev:focus a {
    color: #343A40;
}

.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link, .ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
    padding-top: 3px;
}

.ant-pagination.mini .ant-pagination-jump-next {
    padding-top: 3px;
}

.ant-modal-close-x {
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #44566C;
    background-color: #E9ECEF;
}

span[aria-label='close'] {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ant-modal-close-x:hover, .ant-modal-close-x:focus,
.ant-notification-notice-close:hover, .ant-notification-notice-close:focus,
.remove-question-btn:hover, .remove-question-btn:focus {
    outline: none;
    color: #fff;
    background-color: #FF3D57;
    box-shadow: 0 0 5px 0 #FF3D5790;
}

span[aria-label='close'] > svg {
    font-size: 14px;
}

.success,
.error {
    width: 300px;
    direction: rtl;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.error {
    padding: 12px 20px;
}

.ant-notification-notice-close {
    right: unset;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #44566C;
    background-color: #E9ECEF;
    left: 0 !important;
    margin: 5px;
    top: 0;
}

.ant-notification-notice-close span[role='img'],
.ant-notification-notice-icon span[role='img'] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-52%, -50%);
    -moz-transform: translate(-52%, -50%);
    -ms-transform: translate(-52%, -50%);
    -o-transform: translate(-52%, -50%);
    transform: translate(-52%, -50%);
}

.success .ant-notification-notice-icon span[role='img'] {
    top: 55%;
}

.ant-notification-notice-close svg {
    font-size: 22px;
}

.success .ant-notification-notice-icon svg {
    font-size: 25px;
}

.error .ant-notification-notice-icon svg {
    font-size: 33px;
}

.success .ant-notification-notice-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #2BDE3F;
    color: white;
    right: 20px;
    bottom: 12px;
}

.error .ant-notification-notice-icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #FF3D57;
    color: white;
    right: 15px;
    bottom: 21px;
}

.success .ant-notification-notice-with-icon .ant-notification-notice-message {
    display: none;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-left: 0;
    margin-right: 50px;
}

.success:after {
    content: '';
    width: 0;
    height: 55px;
    border: 2px solid #2BDE3F;
    position: absolute;
    top: 0;
    right: 0;
}

.error:after {
    content: '';
    width: 0;
    height: 75px;
    border: 2px solid #FF3D57;
    position: absolute;
    top: 0;
    right: 0;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
    margin-right: 25px;
    font-weight: bold;
    font-size: 17px;
}

.counter {
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 8%;
    background-color: #22CCE220;
    margin: 0 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #1BBDFE70;
    padding: 13px 7px 12px 2px;
    font-size: 13px;
    color: #1BBDFE;
}

.disabled-counter {
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 8%;
    background-color: #22CCE220;
    margin: 0 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #1BBDFE70;
    padding: 13px 15px 12px 2px;
    font-size: 13px;
    color: #1BBDFE;
    opacity: 0.5;
    cursor: auto;
    transition: .5s;
}

.counter .bi-check-square,
.disabled-counter .bi-check-square {
    font-size: 17px;
    position: relative;
    top: 2px;
}

.counter > span:first-child,
.disabled-counter > span:first-child {
    margin-left: 5px;
}

.counter > span:last-child,
.disabled-counter > span:last-child {
    position: relative;
    right: 5px;
}

/*edit page classes*/
.edit-page {
    width: 100%;
    padding: 35px 15px 25px 15px;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    direction: ltr;
    position: relative;
    right: -1px;
}

.edit-page > .ant-row:first-child {
    display: block;
    direction: rtl;
    width: 100%;
    height: fit-content;
}

.edit-page-trash-arrow {
    direction: ltr;
}

.edit-page-trash-arrow span {
    background-color: #B0BBC650;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    cursor: pointer;
    color: #343A40 !important;
}

.edit-page-trash-arrow svg {
    font-size: 22px;
    position: relative;
    top: 9px;
}

.tooltip {
    font-size: 12px;
    margin-bottom: 0;
}

.edit-page .ant-row:first-child h1 {
    margin-bottom: 15px;
}

.edit-page .all-questions-header {
    margin-top: 40px;
}

.edit-page > .ant-row:first-child .path {
    padding-top: 17px;
}

.edit-page .questions {
    width: 100%;
    display: block;
    margin-top: 45px;
}

.edit-page .question-content:hover p {
    margin-right: 10px;
}

.remove-question-btn {
    padding: 0;
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #44566C;
    background-color: #E9ECEF;
    opacity: 0;
    transition: .5s;
    position: relative;
    bottom: 5px;
}

.edit-page .question-content:hover .remove-question-btn {
    opacity: 1;
    transition: .5s;
}

.remove-question-btn > span {
    position: relative;
    top: 1px;
}

.remove-question-btn svg {
    font-size: 23px;
}

.edit-page .all-questions-header .ant-select,
.edit-page .all-questions-header .ant-input-search {
    height: 32px;
}

.edit-page .all-questions-header > a {
    margin-right: 10px;
}

.edit-page .all-questions-header > a button {
    padding: 0;
    border: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    bottom: 7px;
    background-color: #007BFF;
    color: white;
    box-shadow: 0 5px 10px #007BFF16, 0 15px 40px #007BFF16;
}

.edit-page .all-questions-header > a button:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 8px 0 #007BFF90;
    background-color: #007BFF;
    border: none;

}

.edit-page .all-questions-header > a button svg {
    font-size: 31px;
    position: relative;
    top: 3px;
}

.ant-modal-close-x .bi {
    font-size: 22px;
    top: -7px;
    position: relative;

}

.edit-submit-modal {
    width: 400px !important;
}

.edit-submit-modal .ant-modal-title {
    width: fit-content;
    font-weight: bold;
    font-size: 19px;
    position: relative;
    top: 3px;
}

.edit-submit-modal .ant-modal-content {
    direction: rtl;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.edit-submit-modal .ant-modal-content > button {
    right: unset;
    left: 0;
}

.edit-submit-modal .ant-modal-header {
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.edit-submit-modal .ant-modal-body {
    padding-bottom: 0;
    padding-top: 5px;
}

.edit-submit-modal label {
    font-size: 14px;
    color: #343A40;
    display: block;
    margin-bottom: 10px;
}

.edit-submit-modal .ant-form-item:last-child label {
    display: inline;
    margin-left: 10px;
    margin-bottom: 0 !important;
}

.edit-submit-modal .ant-col-14 {
    max-width: 100%;
}

.edit-submit-modal .ant-modal-body .ant-form-item:last-child {
    margin-bottom: 0;
}

.edit-submit-modal input,
.edit-submit-modal textarea {
    border: 0;
    background-color: #F8FAFB;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.ant-input-number-sm:first-child {
    margin-right: 60px;
}

.edit-submit-modal .ant-input-number {
    border: none;
    margin-left: 10px;
    width: 70px;
}

.edit-submit-modal .ant-input-number:first-child {
    margin-right: 60px;
}

.edit-submit-modal input[role='spinbutton'] {
    text-align: center;
    font-size: 13px;
}

.edit-submit-modal input[role='spinbutton']:hover {
    text-align: left;
}

.edit-submit-modal .ant-modal-footer {
    border-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.edit-submit-modal .ant-modal-footer > button {
    margin-right: 190px;
    margin-left: 15px;
    font-size: 13px;
    height: 30px;
    border: 1px solid #1BBDFE70;
    color: #1BBDFE;
}

.edit-submit-modal .ant-modal-footer > a > button {
    height: 30px;
    font-size: 13px;
    box-shadow: none;
    width: 78px;
}

.second {
    margin-right: 60px !important;
}

/*manage-exam classes*/
.manage-exam {
    width: 100%;
    padding: 35px 15px 25px 15px;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    direction: ltr;
    position: relative;
    right: -1px;
}
.manage-exam > .ant-row:first-child {
    display: block;
    direction: rtl;
    width: 100%;
    height: fit-content;
}
.manage-exam .all-questions-header {
    width: 100%;
    margin-top: 0;
}